.timeline {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-image: url('../../assets/5590.jpg');
    width: 100vw;
    padding: 20px;
}

.title {
    margin-top: 5rem;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.event {
    flex-basis: 45%;
    margin: 10px;
    padding: 20px;
    border: 2px solid orange;
    border-radius: 10px;
    text-align: center;
    width: 50vw;
    background-color: rgba(172, 255, 152, 0.6) ;
}

.event:hover {
    background-color: rgba(172, 255, 152, 0.5);
}

.year {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 1px black;
    cursor: pointer;
    margin-bottom: 10px;
}

.details {
    text-align: center;
}

.eventTitle {
    font-size: 1.25rem;
    margin: 0;
}

.description {
    margin: 10px 0;
}

.link {
    background: none;
    border: none;
    color: #007e00;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}
