.faqContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #00690e;
    color: #fff;
}

.title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.faq {
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
}

.details {
    margin-bottom: 20px;
    background-color: #004209;
    padding: 15px;
    border-radius: 8px;
}

.summary {
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    transition: all 0.15s;
}

.summary:hover {
    color: #00690e;
}

.detail {
    font-size: 16px;
    color: #eee;
    margin-top: 10px;
}

.centerButton {
    display: flex;
    justify-content: center;
    width: 100%;
}

.faqButton {
    font-family: 'Montserrat', sans-serif;
    background-color: #004209;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.15s;
}

.faqButton:hover {
    background-color: #252c26;
    /* Tom mais forte */
}