.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-image: url(../../assets/about-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.content {
    margin-top: 30px;
    max-width: 50%;
}

.title {
    font-family: 'Amatic SC';
    font-size: 60px;
    color: #f4f4f4;
    margin-bottom: 20px;
}

.paragraph {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ddd;
}

.media {
    max-width: 45%;
    position: relative;
}

.image {
    width: 100%;
    border-radius: 8px;
}

.link {
    font-family: 'Montserrat', sans-serif;
    color: #5d995b;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    text-decoration: none;
}

.link:hover {
    color: #3b5f39;
    text-decoration: underline;
}