.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #f0f0f0;
  }
  
  .image {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .prevButton, .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
  
  .prevButton:hover, .nextButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Classes para a animação de fade */
  .fadeIn {
    opacity: 1;
  }
  
  .fadeOut {
    opacity: 0;
  }
  