.container {
    width: 80%;
    margin: 0 auto;
    padding: 0px 20px 40px 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.mainHeader {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
}

.faqItem {
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #fff;
}

.arrows {
    height: 12px;
    vertical-align: middle;
}

.question {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    max-width: 1000px;
    transition: all 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.question h2 {
    width: 700px;
    margin-right: 200px;
}

.answer {
    padding: 10px;
    font-size: 1em;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.donateButton {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #38b000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.donateButton:hover {
    background-color: #2a9d00;
}